/gameOnlineStoreSystem/nbproject/private/
/remoteFacadeClient/nbproject/private/
/remoteFacadeClient/build/
/gameOnlineStoreSystem/build/
*.properties
gameOnlineStoreSystem/nbproject/project.properties
gameOnlineStoreSystem/src/gameonlinestoresystem/OrderManagment.java
gameOnlineStoreSystem/nbproject/project.properties
gameOnlineStoreSystem/nbproject/project.properties
gameOnlineStoreSystem/nbproject/project.properties
*.properties
gameOnlineStoreSystem/nbproject/project.properties
gameOnlineStoreSystem/nbproject/project.properties
gameOnlineStoreSystem/nbproject/project.properties
gameOnlineStoreSystem/nbproject/private/private.xml
remoteFacadeClient/nbproject/private/private.xml
remoteFacadeClient/nbproject/private/private.xml
gameOnlineStoreSystem/nbproject/project.properties
*.xml
*.properties
*.properties
*.properties
gameOnlineStoreSystem/src/gameonlinestoresystem/Category.java
